*.a
*.cat
*.d
*.dylib
*.exe
*.la
*.lo
*.o
*.obj
*.so
*~
.*.sw?
.DS_Store
.deps
.gdb_history
.libs
/*.a
/*.d
/*.deb
/*.gz
/*.h264
/*.mov
/*.mp4
/*.o
/*.rpm
/*.ts
/*.yuv
/.build/
/Session.vim
/TAGS
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/core
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/pipecleanr
/stamp-h*
/tags
/test.*
/timewarp
/version.h
/y4m2patch
Makefile
Makefile.in
Session.vim
aclocal.m4
